.venv/*
venv/*

PythonProject/models/*

PythonProject/LogoDet-3K/*
PythonProject/databases/FlickrLogos-32/*
PythonProject/databases/FlickrLogos-32/test/*
PythonProject/databases/*
PythonProject/__pycache__/*

checkpoints/*

.conda/*