.venv/*
venv/*
.conda/*

PythonProject/models/*

PythonProject/LogoDet-3K/*
PythonProject/databases/FlickrLogos-32/*
PythonProject/databases/FlickrLogos-32/test/*
PythonProject/databases/*
PythonProject/__pycache__/*


checkpoints/*

.conda/*
PythonProject/.idea/misc.xml
/PythonProject/checkpoints
/PythonProject/FlickrLogos32
PythonProject/logonet_resnet50_margin04_E10_LR2.5e-05.pth
PythonProject/logonet_resnet50_margin05_E10_LR2.5e-05.pth
PythonProject/.idea/inspectionProfiles/profiles_settings.xml
PythonProject/.idea/PythonProject.iml
PythonProject/.idea/vcs.xml
PythonProject/.idea/workspace.xml
PythonProject/.idea/workspace.xml
PythonProject/logonet_resnet50_margin04_E20_LR_decay.pth
PythonProject/.idea/workspace.xml
