.venv/*
venv/*
.conda/*

PythonProject/models/*

PythonProject/LogoDet-3K/*
PythonProject/databases/FlickrLogos-32/*
PythonProject/databases/FlickrLogos-32/test/*
PythonProject/databases/*
PythonProject/__pycache__/*


checkpoints/*

.conda/*
PythonProject/.idea/misc.xml
/PythonProject/checkpoints
/PythonProject/FlickrLogos32
PythonProject/logonet_resnet50_margin04_E10_LR2.5e-05.pth
